*{
    margin:0px;
}
body{
    background-color: #E2EAE2;
}
#content-box{
    background-color: #CCFFFF;
}
#header
{
	width:100%;
    height: 60px;
	float:left;
	text-align:center;
	background-color:#CCCCFF;
    box-shadow: 0 15px 20px -8px gray;
/*    overflow: hidden;*/
}
#header-logo
{
    height: 100%;
	width:30%;
	float:left;
}
#header-logo h1
{
	cursor:pointer;
	transition:1s;
	color:white;
	font-family:cambria;
}
#header-logo h1:hover
{
	color:black;
}
#nav{
    position: relative;
    top: 15%;
    height: 100%;
    width: 100%;
}
#header-menu
{
    float:left;
	width:70%;
    height: 100%;
}
#header-menu ul
{
	margin-right: 10%;
	padding: 0;
	float:right;
	text-align: center;
}
#header-menu ul li
{  
    cursor:pointer;
    list-style-type:none;
    display:inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 10px 0;
    border: 0;
    border-radius: 10%;
}

#header-menu ul li a{

	font-family:cambria;
    text-decoration:none;
    color:white;
    font-size:20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
(position:fixed and top:0) */
.sticky + #header {
  padding-top: 102px;
}

#header-menu ul li:hover
{
    color:black;
    background-color: #99CCCC;
}
.content-paragraph{
    margin-right: 5%;
    margin-left: 5%;
	font-family: "Arial";
}

.content-header{
    margin-right: 5%;
    margin-left: 5%;
	text-align: center;
	font-size: 1.5em;
	font-family: "Arial";
}

#drop-nav-btn{
	height:100%;
    background-color: #CCCCFF;
  padding: 16px;
  border: none;
}
#drop-nav-btn img{
	height:100%;
    width: 22px;
    height: 20px;
}

#drop-nav{
    margin-top: -60px;
    margin-left: 1%;
    float: left;
    position: relative;
    display: none;
}

#drop-nav-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#drop-nav-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#drop-nav-content a:hover {background-color: #ddd;}

#drop-nav:hover #drop-nav-content {display: block;}

#drop-nav:hover #drop-nav {background-color: #3e8e41;}



#content-box{
    width: 80%;
/*    background-color: red;*/
    height: 100%;
    margin-left: 10%;
/*    border-top: 60px solid red;*/
    box-shadow: 10px 0 20px -8px gray, -10px 0 28px -8px gray;
}
#content-box-holder{
    width: 100%;
    height: 100%;
}
#content-box-holder img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 1300px) {
	#header
	{
		font-size:14px;
	}
	#header-logo
	{
		width:100%;
		float:left;
		text-align:center;
	}
	#header-menu
	{
        display: none;
		width:100%;
		margin: 0 auto;
	}
	#header-menu ul
	{
		float:none;
		margin-right:0px;
	}
    #drop-nav{
        display: block;
		height: 100%;
		
    }
    #content-box{
    width: 100%;
/*    background-color: red;*/
    min-height: 100%;
    margin: 0;
}
}
@media only screen and (max-width: 320px) {
	#header
	{
		font-size:12px;
	}
	#header-logo h1
	{
		margin-bottom:1%;

	}
    #header-menu ul li
	{
		display:block;
	}
    
 }
 
 iframe{
    width: 100%;
    height: 500px;
	overflow:hidden;
}

 
